# https://editorconfig.org/

root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{py,ipynb}]
indent_size = 4

[*.{yml,yaml,json,toml,html,css,scss,md}]
indent_size = 2

[*.{ts,tsx,js,jsx}]
indent_size = 2

[*.{tf,tfvars}]
indent_size = 2

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
